{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">{{ title }}</h1>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('success_create') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <hr>
                        <div class="text-right mt-3">
                            <a href="{{ path('send-confirmation', {'force': 1, 'id': cratedEntityId}) }}">Послать
                                сообщение?</a>
                        </div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('registration-success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <hr>
                        <div class="text-right mt-3">
                            <a href="{{ path('send-confirmation', {'force': 1, 'id': cratedEntityId}) }}">Послать
                                повторно?</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 mt-4 mb-4">
                <a href="{{ path('admin_user_create') }}" class="btn btn-success">Создать пользователя</a>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 mb-4">
                <table class="table table-hover border-bottom text-center">
                    <thead>
                    <tr>
                        <th scope="col" class="w-2">#</th>
                        <th scope="col">Аватар</th>
                        <th scope="col">email</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Роли</th>
                        <th scope="col" class="w-2">Веривицикован</th>
                        <th scope="col" class="w-2">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>
                                {% if user.img is null %}
                                    <img src="{{ asset('uploads/user/no_image.jpg') }}" alt="" width="100">
                                {% else %}
                                    <img src="{{ asset('uploads/user/') }}{{ user.img }}" alt="" width="100">
                                {% endif %}
                            </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.roles | join(', ') }}</td>
                            <td>
                                {% if user.isVerified %}<a class="bi bi-check2-circle text-success"></a>{% else %}<a
                                        class="bi bi-x-circle text-danger"></a>{% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_user_update', {'user_id': user.id}) }}"
                                   class="bi bi-pencil-square" title="Редактировать пользователя"></a> <a href="#" data-href="{{ path('admin_user_delete', {'user_id': user.id}) }}" data-toggle="modal" data-target="#confirmModal" data-entity-id="{{ user.id }}" class="bi bi-trash ml-3" title="Удалить пользователя"></a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'admin/user/_partials/modal.html.twig' %}

{% endblock %}