{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                {{ form_start(form) }}
                <div class="{{ hideFormBodyCssClass }}">
                    <div class="form-login shadow-lg p-4">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
                        {{ form_row(form.email) }}
                        {{ form_row(form.full_name) }}
                        {{ form_row(form.plainPassword) }}
                        {% if(agreeTermsAgree) %}
                            {{ form_row(form.agreeTermsCheckBox, {'attr': {'checked': true}}) }}
                        {% else %}
                            {{ form_row(form.agreeTermsCheckBox) }}
                        {% endif %}
                        {{ form_row(form.agreeLinkButton) }}
                        {{ form_row(form.save) }}
                        <div class="text-right mt-3">
                            <a href="{{ path('app_login') }}" class="mr-3">Вход</a>
                            <a href="{{ path('app_forgot_password_request') }}">Напомнить пароль</a>
                        </div>
                    </div>
                </div>
                <div class="{{ hideTermsBodyCssClass }}">
                    {% include 'registration/_partials/agree-terms.html.twig' %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
