{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">{{ title }}</h1>
            </div>
        </div>
        {% set errorMessages = app.session.getFlashBag().get('error-available-categories')|default(false) %}
        {% if errorMessages %}
            <div class="row no-gutters justify-content-center">
                <div class="col-8">
                    <div class="alert alert-danger fade show" role="alert">
                        {% for message in errorMessages %}
                            {{ message }}
                        {% endfor %}
{#                        {{ app.flashes('error') }}#}
{#                        {{ app.session.getFlashBag().get('error') }}#}
                        <hr>
                        <div class="text-right mt-3">
                            <a href="{{ path('admin_category_create') }}">Создать категорию</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row no-gutters">
                <div class="col-12 mt-4 mb-4">
                    <a href="{{ path('admin_post_create') }}" class="btn btn-success">Создать пост</a>
                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <div class="col-8">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-8">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 mb-4">
                    <table class="table table-hover border-bottom text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="w-2">#</th>
                            <th scope="col">Превью</th>
                            <th scope="col">Заголовок</th>
                            <th scope="col">Контент</th>
                            <th scope="col">Карегории</th>
                            <th scope="col" class="w-2">Опубликована</th>
                            <th scope="col" class="w-2">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if(posts is empty) %}
                            <tr>
                                <td colspan="7">
                                    <span class="text-black-50">Постов нет!</span>
                                </td>
                            </tr>
                        {% else %}

                            {% for post in posts %}
                                <tr>
                                    <td scope="row">{{ post.id }}</td>
                                    <td>
                                        {% if post.img is null %}

                                            <img src="{{ asset('uploads/post/no_image.jpg') }}" alt="" width="100">
                                        {% else %}
                                            <img src="{{ asset('uploads/post/') }}{{ post.img }}" alt=""
                                                 width="100">
                                        {% endif %}
                                    </td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.content }}</td>
                                    <td>

                                        {% for category in post.categories %}
                                            <div class="d-flex justify-content-center">
                                                <div class="w-50 text-right pr-1">{{ category.title }}</div>
                                                <div class="w-25 text-left pl-1">{% if category.isPublished %} <a
                                                            class="bi bi-check2-circle text-success"></a>{% else %}<a
                                                            class="bi bi-x-circle text-danger"></a>{% endif %}</div>

                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if post.isPublished %}<a
                                                class="bi bi-check2-circle text-success"></a>{% else %}<a
                                                class="bi bi-x-circle text-danger"></a>{% endif %}
                                    </td>
                                    <td><a href="{{ path('admin_post_update', {'post_id': post.id}) }}"
                                           class="bi bi-pencil-square" title="Редактировать пост"></a><a href="#"
                                                                                                         data-href="{{ path('admin_post_delete', {'post_id': post.id}) }}"
                                                                                                         data-toggle="modal"
                                                                                                         data-target="#confirmModal"
                                                                                                         data-entity-id="{{ post.id }}"
                                                                                                         class="bi bi-trash ml-3"
                                                                                                         title="Удалить пост"></a></td>
                                </tr>

                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        </div>
    </div>
    {% include 'admin/post/_partials/modal.html.twig' %}

{% endblock %}