{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">{{ title }}</h1>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes('success_create') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 mt-4 mb-4">
                <a href="{{ path('admin_category_create') }}" class="btn btn-success">Создать Категорию</a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 mb-4">
                <table class="table table-hover border-bottom text-center">
                    <thead>
                    <tr>
                        <th scope="col" class="w-2">#</th>
                        <th scope="col" class="w-10">Превью</th>
                        <th scope="col" class="w-10">Заголовок</th>
                        <th scope="col" class="w-25">Описание</th>
                        <th scope="col" class="w-2">Посты</th>
                        <th scope="col" class="w-2">Опубликована</th>
                        <th scope="col" class="w-2">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if(categories is empty) %}
                        <tr>
                            <td colspan="7" class="text-center">
                                <span class="text-black-50">Категорий нет!</span>
                            </td>
                        </tr>
                    {% else %}
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>

                                <td>
                                    {% if category.img is null %}

                                        <img src="{{ asset('uploads/category/no_image.jpg') }}" alt="" width="100">
                                    {% else %}
                                        <img src="{{ asset('uploads/category/') }}{{ category.img }}" alt=""
                                             width="100">
                                    {% endif %}
                                </td>
                                <td>{{ category.title }}</td>

                                <td>{{ category.description }}</td>


                                <td>
                                    {% if category.posts | length %}
                                        {{ category.posts | length }}
                                    {% else %}
                                        <a class="bi bi-x-circle text-danger"></a>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if category.isPublished %}<a
                                            class="bi bi-check2-circle text-success"></a>{% else %}<a
                                            class="bi bi-x-circle text-danger"></a>{% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('admin_category_update', {'category_id': category.id}) }}"
                                       class="bi bi-pencil-square" title="Редактировать категорию"></a><a href="#"
                                                                                                          data-href="{{ path('admin_category_delete', {'category_id': category.id }) }}"
                                                                                                          data-toggle="modal"
                                                                                                          data-target="#confirmModal"
                                                                                                          data-entity-id="{{ category.id }}"
                                                                                                          class="bi bi-trash ml-3"
                                                                                                          title="Удалить категорию"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'admin/category/_partials/modal.html.twig' %}
{% endblock %}